* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.header-section {
    background-color: #1f2937;
    padding: 24px;
}

/* All the page's main content needs to be max 1000px wide*/
.content {
    width: 1000px;
}

.default-section-height {
    height: 500px;
}

.header {
    flex: 0 1 auto;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.header ul {
    display: flex;
    gap: 1rem;
}

.hero-text-section {
    background-color: #1f2937;
    padding: 100px 0px;
    height: 500px;
}

.call-to-action {
    display: flex;
}

.call-to-action > img {
    flex: 1 1 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 24px;
    flex: 1 1 0px;
}

.hero-text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text > p {
    color: #e5e7eb;
}

.hero-text > button {
    width: 100px;
    border-radius: 8px;
    padding: 8px 0px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
}

.info-section {
    display: flex;
    border: 3px solid black;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-card-wrapper {
    display: flex;
    gap: 8px;
}

.info-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}