* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    background-color: #1f2937;
    padding: 24px;
}

/* All the page's main content needs to be max 1000px wide*/
.content {
    width: 1000px;
}

.header {
    flex: 0 1 auto;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.header ul {
    display: flex;
    gap: 1rem;
}

.hero-text-wrapper {
    background-color: #1f2937;
}

.call-to-action {
    display: flex;
}

.call-to-action > img {
    flex: 1 1 auto;
    width: 100px;
    height: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text > p {
    color: #e5e7eb;
}

.hero-text > button {
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
}